{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.behandelingnaam.label }} {{ form.behandelingnaam(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.Categorie.label }} {{ form.Categorie(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.Beheerder_id.label }} {{ form.Beheerder_id(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
