{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.Weetje.label }} {{ form.Weetje(class="form-control") }}
  </div>
  <div class="mb-3">
      {{ form.gender.label }} {{ form.gender(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.Behandeling_id.label }} {{ form.Behandeling_id(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
