{% extends 'base.html' %}
{% block content %}
<h1>Welkom op de website van Reatrix</h1>
<p>Reatrix is een door studenten ontwikkeld reactie- en afleidingspel. 
  Het is ontwikkeld voor kinderen en jongeren die in het ziekenhuis zitten voor een Behandeling. <br><br>

  Hoe het werkt:
  De patiënt krijgt een een weetje te zien over Beatrix kinderziekenhuis Groningen en kan deze beantwoorden met waar of nietwaar. 
  Op deze manier leren ze iets over het ziekenhuis, zijn medewerkers en de Behandeling die de patiënt zal ondergaan.
  </p>
<div class="row">
      <div class="thumbnail">
        <a href="static\images\kinderziekenhuis3.png">
          <img src="static\images\kinderziekenhuis3.png" alt="Fjords" style="width:70%">
          <div class="caption">
            <p>Kikker</p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
