{% extends 'base.html' %}
{% block content %}
<h1>Behandelingen</h1>
<a href="{{ url_for('Behandeling.add') }}" class="btn btn-primary mb-3">Behandeling toevoegen</a>
<ul>
  {% for Behandeling in Behandelingen %}
  <li>{{ Behandeling.behandelingnaam }} ({{ Behandeling.Categorie }})
    <a href="{{ url_for('Behandeling.edit', id=Behandeling.id) }}">Bewerken</a>
    <form action="{{ url_for('Behandeling.delete', id=Behandeling.id) }}" method="post" style="display:inline;">
      <button type="submit" class="btn btn-link">Verwijderen</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
